<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      lang="en"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Grid system</h1>
    <div class="row">
        <div class="centered">
            <%= form_tag do %>
            <table class="table-bordered float inline">
                <% @map_points.each do |key, array| %>
                <tr>
                    <% array.each do |map_point| %>
                    <% if map_point.id == @map_point.id %>
                    <td class="current_zone" bgcolor="<%= map_point.terrain.colour if !map_point.terrain.nil? %>">
                        <%= radio_button_tag(:id,map_point.id, true, class: "grid_point") %>
                    </td>
                    <% else %>
                    <td bgcolor="<%= map_point.terrain.colour if !map_point.terrain.nil? %>">
                        <%= radio_button_tag(:id,map_point.id, false, class: "grid_point") %>
                    </td>
                    <% end %>
                    <% end %>
                </tr>
                <% end %>
            </table>
            <% end %>
            <div class="float inline square border">
                <div class="row arrow centered">
                    <% unless @neighbors[Directions::NORTH].nil? %>
                    <%= link_to '', grid_move_path(@neighbors[Directions::NORTH]), :class => "btn glyphicon
                    glyphicon-arrow-up centered" %>
                    <% end %>
                </div>
                <div class="row arrow">
                    <% unless @neighbors[Directions::WEST].nil? %>
                    <%= link_to '', grid_move_path(@neighbors[Directions::WEST]), :class => "btn glyphicon
                    glyphicon-arrow-left" %>
                    <% end %>
                    <% unless @neighbors[Directions::EAST].nil? %>
                    <%= link_to '', grid_move_path(@neighbors[Directions::EAST]), :class => "btn glyphicon
                    glyphicon-arrow-right" %>
                    <% end %>
                </div>
                <div class="row arrow centered">
                    <% unless @neighbors[Directions::SOUTH].nil? %>
                    <%= link_to '', grid_move_path(@neighbors[Directions::SOUTH]), :class => "btn glyphicon
                    glyphicon-arrow-down centered" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="float zone">
            <%= render @map_point ||= MapPoint.new %>
        </div>
    </div>
</div>
</body>
</html>