<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      lang="en"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Grid system</h1>
    <div class="row">
        <div class="centered">
            <form>
            <table class="table-bordered float inline">
                <th:block th:each="mapPoints : ${mapPointsForGrid}">
                    <tr>
                        <th:block th:each="mapPoint : ${mapPoints}">
                            <td>
                                <input th:id="${mapPoint.id}" th:value="${mapPoint.id}" name="grid" class="grid_point" type="radio"/>
                            </td>
                        <th:block/>
                    </tr>
                </th:block>
            </table>
            </form>
        </div>
    </div>
    <div class="float inline square border">
        <div class="row centered">
            <a th:if="${neighbors.get(T(banane.io.pdb.model.Direction).NORTH) != null} " th:href="@{/}" class="btn glyphicon glyphicon-arrow-up centered"/> <!-- TODO: Link to move action -->
        </div>
        <div class="row">
            <a th:if="${neighbors.get(T(banane.io.pdb.model.Direction).WEST) != null}" th:href="@{/}" class="btn glyphicon glyphicon-arrow-left"/> <!-- TODO: Link to move action -->
            <a th:if="${neighbors.get(T(banane.io.pdb.model.Direction).EAST) != null}" th:href="@{/}" class="btn glyphicon glyphicon-arrow-right"/> <!-- TODO: Link to move action -->
        </div>
        <div class="row centered">
            <a th:if="${neighbors.get(T(banane.io.pdb.model.Direction).SOUTH) != null}" th:href="@{/}" class="btn glyphicon glyphicon-arrow-down centered"/> <!-- TODO: Link to move action -->
        </div>
    </div>
<!--    <div class="row">
        <div class="float zone">
            <%= render @map_point ||= MapPoint.new %>
        </div>
    </div>-->
</div>
</body>
</html>