<h1>Add a authetification to your account</h1>
<p>Use your facebook or Google account to log in the game, this is temporary until we find a better to place to add a new method of sign in<p>

<%= link_to "Sign in", new_user_session_path %>
