<div class="row col-md-6 col-md-offset-3">
  <p>
    <strong>X:</strong>
    <% @map_point.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <% @map_point.y %>
  </p>
  <p>
    <strong>Zone:</strong>
    <% @map_point.zone %>
  </p>

  <%= link_to 'Edit', edit_map_point_path(@map_point) %> |
  <%= link_to 'Back', map_points_path %>
</div>
