<h1>Grid system</h1>
<%= form_tag do %>
<div class="float">
  <table class="table-bordered">
    <% @map_points.each do |key, array| %>
      <tr>
        <% array.each do |map_point| %>
          <td><%= radio_button_tag(:id,map_point.id, false, class: "grid_point") %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<% end %>

<%= render @map_point ||= MapPoint.new %>
