<p>
  <strong>Name:</strong>
  <%= @entity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entity.description %>
</p>
<p>
  <strong>Map Point:</strong>
</p>

<% if can? :edit, @entity %>
  <%= link_to 'Edit', edit_entity_path(@entity) %> |
<% end %>
<%= link_to 'Back', entities_path %>
