<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">layout</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>
<div class="container">
    <th:block layout:fragment="content"/>
</div>
<!--<th:block th:replace="fragments/footer :: footer"/>-->
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"/>
</body>
</html>