<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<nav class="navbar navbar-inverse" th:fragment="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PDB</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/register}">Register</a></li>
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}"></a></li>
                <li sec:authorize="isAuthenticated()">
                   <span sec:authentication="name"></span> | <span sec:authentication="principal.authorities"></span> |
                    <a th:href="@{/logout}">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>