<div>
  <p>
    <strong>Username:</strong>
    <%= @player.username %>
  </p>

  <p>
    <strong>Hero:</strong>
    <p>
    <strong>Name:</strong>
    <%= @player.entity.name %>
  </p>
    <p>
    <strong>Description:</strong>
    <%= @player.entity.description %>
  </p>
  </p>

</div>
