<div>
  <p>
    <strong>Username:</strong>
    <%= @player.username %>
  </p>

  <p>
    <strong>Hero:</strong>
    <%= @player.entity %>
  </p>
  <p>
    <strong>User:</strong>
    <%= @player.user %>
  </p>
</div>
