<div class="row col-md-6 col-md-offset-3">
  <p>
    <strong>Username:</strong>
    <%= @player.username %>
  </p>

  <p>
    <strong>Hero:</strong>
    <%= @player.entity %>
  </p>

  <% if can? :edit, @player %>
    <%= link_to 'Edit', edit_player_path(@player) %> |
  <% end %>
  <%= link_to 'Back', players_path %>
</div>
