<div class="row col-md-6 col-md-offset-3">
  <p>
    <strong>Player:</strong>
    <%= @player.username %>
  </p>

  <%= link_to 'Edit', edit_player_path(@player) %> |
  <%= link_to 'Back', player_path %>
</div>
