// Place all the styles related to the Grid controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
  padding: 10px 10px 10px 10px
}
.float {
  float: left;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.inline {
  display: inline;
}

fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}

.arrow {
  height: 35px;
}

.current_zone {
  outline: thin solid green;
}

.clicked_zone {
  outline: thin solid blue;
}
