// Place all the styles related to the Grid controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
  padding: 10px 10px 10px 10px
}
.float {
  float: left;
}
.centered {
  margin-left: auto ;
  margin-right: auto ;
}
